.house{
    font-size: .36rem;
    .title{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        .logo{
            position: absolute;
            left: 30px;
            top: 5px;
            width: 220px;
        }
        .x{
            background-size: cover;
            margin-right: 0.34rem;
            position: absolute;
            left: 8px;
            top: 20px;
            width: 11px;
        }
        .bgImg{
            width: 100%;
            height: 100%;
            position: relative;
        }
        .butoonImg{
            position: absolute;
            top: 12px;
            right: 10px;
            height: 0.8rem;
            line-height: 0.8rem;
        }
       
    }
    .houseImg{
        position: relative;
        .imgList{
            height: 220px;
        }
        .textBtn{

            margin-top: 20px;

            .text{
                border: 1px solid #bbb;
                padding:3px 6px;
                color: #444;
                margin:0 15px;
                border-radius: 4px;
                padding-top: 5px;
                cursor: pointer;
                &.active {
                    background-color: #409eff;
                    color: #fff;
                }
            }
            }
            
    }
    .houseInfo{
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;
        font-size: .4rem;
        .text{
            padding-bottom: 6px;
        }
        .hui{
            color: #737373;
            padding-bottom: 6px;
        }
    }
    .title-text{
        font-size: .45rem;
    }
   
    .swiper-container {
        width: 100%;
        height: 100%
      }
      
      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
      .swipe-slide img {
      }
}

